# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# Node
node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# .env
.env

# Context
CONTEXT/